{% load static %}
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="search-btn search-switch">
        <i class="fa fa-search"></i>
    </div>
    <div class="header__top--canvas">
        <div class="ht-info">
            <ul>
                <li>20:00 - May 19, 2019</li>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="ht-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-vimeo"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <ul class="main-menu mobile-menu">
        <li class="active"><a href="./index.html">Home</a></li>
        <li><a href="./club.html">Club</a></li>
        <li><a href="./schedule.html">Schedule</a></li>
        <li><a href="./result.html">Results</a></li>
        <li><a href="#">Sport</a></li>
        <li><a href="#">Pages</a>
            <ul class="dropdown">
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./blog-details.html">Blog Details</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Results</a></li>
            </ul>
        </li>
        <li><a href="./contact.html">Contact Us</a></li>
    </ul>
    <div id="mobile-menu-wrap"></div>
</div>
