{% load static %}
{% load humanize %}
{% load my_filters %}
<div class="ss-league">
    <div class="section-title sidebar-title">
        <h5>
            Status
        </h5>
    </div>
    <div class="sl-item">
        <span>
            {% if game.is_finished %}
                <i class="fas fa-flag-checkered"></i>
            {% elif game.is_live %}
                <i class="fas fa-play-circle green"></i>
            {% elif game.is_upcoming %}
                <i class="fas fa-calendar"></i>

            {% endif %}
            {{ game.status|title }}
            {% if game.is_upcoming and view != "predict" %}
            {{ game.start_date|naturaltime }}
            {% elif game.is_upcoming %}
            {{ game.start_date|naturaltime }}
            {% endif %}
        </span>
    </div>
</div>
<div class="ss-league">
    <div class="section-title sidebar-title">
        <h5>
            Dates
        </h5>
    </div>
    <table class="w-100">
        <tr>
            <td>Start:</td>
            <td class="pl-4 pr-2">
                <div class="float-right">{{ game.start_date|date:"jS M Y" }}</div>
            </td>
        </tr>
        <tr>
            <td>End:</td>
            <td class="pl-4 pr-2">
                <div class="float-right">{{ game.end_date|date:"jS M Y" }}</div>
            </td>
        </tr>
    </table>
</div>
{% comment %}
<div class="ss-league">
    <div class="section-title sidebar-title">
        <h5>Prizes</h5>
    </div>
    <table class="table table-sm">
        {% for payout in game.rules.payouts.all %}
        <tr>
            <td>{{ payout.position|ordinal }}:</td>
            <td>{{ payout.percentage|percentage }}</td>
            {% endfor %}
    </table>
</div>
{% endcomment %}
<div class="ss-league">
    <div class="section-title sidebar-title">
        <div class="row">
            <div class="col">
                <h5>Scoring</h5>
            </div>
            <div class="col text-right">
                <abbr class="pr-2" title="
                Correct Score: correctly guess the exact scoreline
Correct Result: correctly guess the correct result. e.g. Home, Away or Draw
Correct Home Score: correctly guess the home team goals
Correct Away Score: correctly guess the away team goals
Joker Correct Score: correctly guess the correct score on your Joker
Joker Correct Result: correctly guess the correct result on your Joker
Joker Multiplier: Points multiplier on your Joker
                "><i class="fas fa-info-circle"></i></abbr>
            </div>
        </div>
    </div>
    <table class="w-100">
        {% for key, value in game.rules.get_scoring.items %}
        <td>{{ key|title }}:</td>
        <td class="pl-3 pr-2">
            <div class="float-right">
                {% if key != "joker multiplier" %}
                {{ value }}pts
                {% else %}
                X{{ value }}
                {% endif %}
            </div>
        </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="ss-league">
    <div class="section-title sidebar-title">
        <h5>Other Leagues</h5>
    </div>
    {% include 'games/partials/leagues_list.html' with leagues_list=member_list list_name='My Leagues' %}
</div>