{% load static %}
{% block content %}
{% load humanize %}

<div class="ss-widget">
    <div class="section-title sidebar-title">
        <h5>Games</h5>
    </div>
    {% if not league_is_private or is_member %}
    <table class="table table-sm">
        {% if league.games.all %}
        <thead>
        <th></th>
        <th>Name</th>
        <th>Start</th>
        <th class="text-right"><i class="fas fa-arrow-right"></i></th>
        </thead>
        <tr>

            {% for game in league.games.all %}
            <td>
                {% if game.is_live %}
                <i class="fas fa-circle red"></i>
                {% elif game.is_upcoming %}
                <i class="fas fa-circle green"></i>
                {% elif game.is_finished %}
                <i class="fas fa-flag-checkered"></i>
                {% endif %}
            </td>
            <td>
                {{ game.name }}
            </td>
            <td>{{ game.start_date|date:"jS M Y" }}</td>
            <td>
                <a href="{% url 'picks_pages:game_detail' league_id=league.id game_id=game.id %}"><i
                        class="fas fa-arrow-right"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <td>
            No games
        </td>
        </tr>
        {% endif %}
    </table>
    <table>
        <tr>
            <td><i class="fas fa-circle red"></i></td>
            <td>Live</td>
            <td><i class="fas fa-circle green"></i></td>
            <td>Upcoming</td>
            <td><i class="fas fa-flag-checkered"></i></td>
            <td>Finished</td>
        </tr>
    </table>
    {% endif %}
</div>
{% endblock %}