{% load static %}
{% block content %}
{% load humanize %}
{% load bootstrap_pagination %}

<div class="ss-widget">
    <div class="section-title sidebar-title">
        <h5>Games</h5>
    </div>
    {% if not league_is_private or is_member %}
    <table class="table table-sm">
        {% if game_list %}
        <thead>
        <th></th>
        <th>Name</th>
        <th>Start</th>
        <th class="text-right"></th>
        </thead>
        <tr>
            {% for game in game_list %}
            <td>
                {% if game.is_live %}
                <i class="fas fa-play-circle green"></i>
                {% elif game.is_upcoming %}
                <i class="fas fa-calendar"></i>
                {% elif game.is_finished %}
                <i class="fas fa-flag-checkered"></i>
                {% endif %}
            </td>
            <td>
                <a class="game-link"
                   href="{% url 'picks_pages:game_detail' league_id=league.id game_id=game.id %}">{{ game.name }}</a>
            </td>
            <td>{{ game.start_date|date:"jS M Y" }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <td>
            No games
        </td>
        </tr>
        {% endif %}
    </table>
    <table>
        <tr>
            <td><i class="fas fa-play-circle green"></i></td>
            <td>Live</td>
            <td><i class="fas fa-calendar"></i></td>
            <td>Upcoming</td>
            <td><i class="fas fa-flag-checkered"></i></td>
            <td>Finished</td>
        </tr>
    </table>
</div>
<div>
    {% bootstrap_paginate page_obj range=5 extra_pagination_classes="pagination-sm justify-content-center" %}
    {% endif %}
</div>
{% endblock %}