{% load static %}
<section class="latest-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title latest-title">
                    <h3>Latest <span>News</span></h3>
                    <ul>
                        <li>All</li>
                        <li>World Cup</li>
                        <li>Champions</li>
                        <li>MLS</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="news-item left-news">
                            <div class="ni-pic set-bg" data-setbg="{% static 'gameweek/img/news/latest-b.jpg' %}">
                                <div class="ni-tag">Soccer</div>
                            </div>
                            <div class="ni-text">
                                <h4><a href="#">Once You Learn These Hard Truths About Life, You'll Become</a></h4>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                                <p>It’s that time again when people start thinking about their New Years
                                    Resolutions. Usually they involve, losing weight, quitting smoking, and joining
                                    a gym, just to mention a few.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="{% static 'gameweek/img/news/ln-1.jpg' %}" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">How To Quit Smoking Using Zyban</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="{% static 'gameweek/img/news/ln-2.jpg' %}" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">Decorate For Less With Art Posters</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="{% static 'gameweek/img/news/ln-3.jpg' %}" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">Home Business Advertising Ideas</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="{% static 'gameweek/img/news/ln-4.jpg' %}" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">Lasik Doesn T Stop Your Eyes From Aging</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title">
                    <h3>Club <span>Ranking</span></h3>
                </div>
                <div class="points-table">
                    <table>
                        <thead>
                        <tr>
                            <th class="th-o">Pos</th>
                            <th>Team</th>
                            <th class="th-o">P</th>
                            <th class="th-o">W</th>
                            <th class="th-o">L</th>
                            <th class="th-o">PTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-1.jpg' %}" alt="">
                                <span>Afghanis</span>
                            </td>
                            <td>22</td>
                            <td>2</td>
                            <td>5</td>
                            <td>72</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-2.jpg' %}" alt="">
                                <span>Australia</span>
                            </td>
                            <td>20</td>
                            <td>3</td>
                            <td>4</td>
                            <td>71</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-3.jpg' %}" alt="">
                                <span>Qatar</span>
                            </td>
                            <td>18</td>
                            <td>4</td>
                            <td>4</td>
                            <td>68</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-4.jpg' %}" alt="">
                                <span>Cambodia</span>
                            </td>
                            <td>17</td>
                            <td>2</td>
                            <td>7</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-5.jpg' %}" alt="">
                                <span>Uzbekistan</span>
                            </td>
                            <td>17</td>
                            <td>2</td>
                            <td>6</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-6.jpg' %}" alt="">
                                <span>Turkme</span>
                            </td>
                            <td>161</td>
                            <td>1</td>
                            <td>8</td>
                            <td>57</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-7.jpg' %}" alt="">
                                <span>Sri Lanka</span>
                            </td>
                            <td>15</td>
                            <td>4</td>
                            <td>8</td>
                            <td>52</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td class="team-name">
                                <img src="{% static 'gameweek/img/flag/flag-8.jpg' %}" alt="">
                                <span>Myanmar</span>
                            </td>
                            <td>14</td>
                            <td>3</td>
                            <td>7</td>
                            <td>48</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#" class="p-all">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>