{% load static %}
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fas fa-close"></i>
    </div>
    <!--<div class="search-btn search-switch">
        <i class="fa fa-search"></i>
    </div> -->
    <div class="header__top--canvas">
        <!--<div class="ht-info">
            <ul>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div> -->
    </div>
    <ul class="main-menu mobile-menu">
        <li class="active"><a href="{% url 'picks_pages:home' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'picks_pages:leagues_list' %}">Leagues</a>
            <!--<ul class="dropdown">
                <li><a href="#">League 1</a></li>
                <li><a href="#">League 2</a></li>
                <li><a href="#">League 3</a></li>
                <li><a href="#">League 4</a></li>
            </ul>-->
        </li>
        {% endif %}
        <li><a href="{% url 'picks_pages:rules' %}">Rules</a></li>
        <!-- <li><a href="{% url 'picks_pages:contact' %}">Contact</a></li> -->
        {% if user.is_authenticated %}
        <!-- <li><a href="{% url 'picks_pages:player_profile' pk=user.id %}">My Profile</a></li>-->
        <li><a href="{% url 'logout' %}">Logout</a></li>

        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <!--<li><a href="#">Signup</a></li>-->
        {% endif %}
    </ul>
    <div id="mobile-menu-wrap"></div>
</div>
