{% extends "games/pages/base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
{% include 'games/partials/title.html' with page_title='Leagues' %}

<section class="schedule-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-blog-pad bg-light">
                <div class="schedule-text">
                    <div class="schedule-text">
                        <h3 class="st-title">Games</h3>
                    </div>
                    <div class=col">
                        {% include 'games/partials/games_list.html' %}
                    </div>
                </div>
            </div>
            <!-- {% include 'games/partials/leagues_list.html' with leagues_list=available_list list_name='Available
            Leagues' %} #} -->
            <!--<div class="col-lg-2">
                <div class="row pb-1 mb-2"><a href="#" class="btn primary-btn">Join Private League</a></div>
                <div class="row pb-1 mb-2"><a href="#" class="btn primary-btn">Create Private League</a></div>
            </div>-->
        </div>
    </div>
</section>

{% endblock %}  