{% extends "games/pages/base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
{% include 'games/partials/title.html' with page_title='Leagues' %}

<section class="schedule-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-blog-pad bg-light">
                <div class="schedule-text">
                    <!--<div class="col">
                        <h3>Available Public Leagues</h3>
                        {% if leagues_join_list %}
                        <table>
                            {% for league in leagues_join_list %}
                            <tr>
                                <td>{{ league.name }}</td>
                                <td><a href="{% url 'picks_pages:join_league' league_id=league.id %}">Join</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>No leagues available.</p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h3>Owned Leagues</h3>
                        {% if leagues_owner_list %}
                        <table>
                            {% for league in leagues_owned_list %}
                            <tr>
                                <td>{{ league.name }}</td>
                                <td><a href="{% url 'picks_pages:league_detail' league.id %}">View</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                            <p>Not an owner of any leagues.</p>
                        {% endif %}
                    </div>-->
                    <div class="schedule-text">
                        <h3 class="st-title">My Leagues</h3>
                    </div>
                    <div class=col">
                        {% include 'games/partials/leagues_list.html' with leagues_list=member_list list_name='My
                        Leagues' %}
                    </div>
                </div>
            </div>
            <!-- {% include 'games/partials/leagues_list.html' with leagues_list=available_list list_name='Available
            Leagues' %} #} -->
            <!--<div class="col-lg-2">
                <div class="row pb-1 mb-2"><a href="#" class="btn primary-btn">Join Private League</a></div>
                <div class="row pb-1 mb-2"><a href="#" class="btn primary-btn">Create Private League</a></div>
            </div>-->
        </div>
    </div>
</section>

{% endblock %}  