{% extends "games/base.html" %}
{% block content %}
{% include 'games/partials/title.html' with page_title=title %}

<section class="schedule-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light p-1">
                    {% include 'games/partials/leaderboard_full.html' with leaderboard=leaderboard %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light p-1">
                    {% include 'games/partials/gameweek_list.html' with league=league %}
                </div>
            </div>
</section>
{% endblock %}