{% extends "games/pages/base.html" %}
{% block content %}
{% include 'games/partials/title.html' with page_title='Player Profile' %}

<section class="club-section spad">
    <div class="container">
        <div class="club-content">
            <div class="row">
                <div class="col-lg-5">
                    <div class="cc-pic">
                        <img src="img/club-logo.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cc-text">
                        <div class="ct-title">
                            <h3>Club Brazil</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum. </p>
                        </div>
                        <div class="ct-widget">
                            <ul>
                                <li>
                                    <h5>Established</h5>
                                    <p>Since 1987</p>
                                </li>
                                <li>
                                    <h5>Former President</h5>
                                    <p>John Martin</p>
                                </li>
                                <li>
                                    <h5>A skipper</h5>
                                    <p>Jack Hadison</p>
                                </li>
                                <li>
                                    <h5>Total Matches</h5>
                                    <p>78</p>
                                </li>
                                <li>
                                    <h5>Location</h5>
                                    <p>Brasilia, Brazil</p>
                                </li>
                                <li>
                                    <h5>Social</h5>
                                    <div class="cw-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="club-tab-list">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Substitute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Midfielder</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Forward</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">Goalkeeper</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab">Sweeper</a>
                        </li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="club-tab-content">
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-1.jpg" alt="">
                                        <h5>12. Buddy Peck</h5>
                                    </div>
                                    <div class="ci-name">Forward</div>
                                </div>
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-2.jpg" alt="">
                                        <h5>08. John Smith</h5>
                                    </div>
                                    <div class="ci-name">Defensive midfielder</div>
                                </div>
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-3.jpg" alt="">
                                        <h5>18. Hanry Edison</h5>
                                    </div>
                                    <div class="ci-name">Goalkeeper</div>
                                </div>
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-4.jpg" alt="">
                                        <h5>02. Frankie Diaz</h5>
                                    </div>
                                    <div class="ci-name">Central defender</div>
                                </div>
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-5.jpg" alt="">
                                        <h5>09. John Thompson</h5>
                                    </div>
                                    <div class="ci-name">Central midfielder</div>
                                </div>
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-6.jpg" alt="">
                                        <h5>22. Sara Mayer</h5>
                                    </div>
                                    <div class="ci-name">Defendef</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="club-tab-content">
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-5.jpg" alt="">
                                        <h5>09. John Thompson</h5>
                                    </div>
                                    <div class="ci-name">Central midfielder</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="club-tab-content">
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-1.jpg" alt="">
                                        <h5>12. Buddy Peck</h5>
                                    </div>
                                    <div class="ci-name">Forward</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="club-tab-content">
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-3.jpg" alt="">
                                        <h5>18. Hanry Edison</h5>
                                    </div>
                                    <div class="ci-name">Goalkeeper</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-5" role="tabpanel">
                            <div class="club-tab-content">
                                <div class="ct-item">
                                    <div class="ci-text">
                                        <img src="img/club/p-1.jpg" alt="">
                                        <h5>12. Buddy Peck</h5>
                                    </div>
                                    <div class="ci-name">Forward</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
