{% extends "games/pages/base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
{% include 'games/partials/title.html' with page_title='Rules' %}

<section class="blog-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">General Rules</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        There are usually 40 weeks in a season. 41 in the 2017/18 season.

                        The first week starts on the weekend of the opening matches in the Football Leagues.

                        The last week ends on the weekend of the final Premier League matches.

                        Each week consists of 10 football matches. They are mainly from the top four English Leagues,
                        however other games from across the World can still be chosen.

                        During bumper weeks the games rise to 25.

                        You must make your picks before Kick Off for the first game. Picks submitted after this will
                        only be accepted for games that have not yet kicked off.

                        You can join in at any time, however you will still need to pay the full £3.00 (£5.00 during BW)
                        each week.

                        Any winnings will be allocated as credit to coming weeks. You will need to contact me to pay out
                        credit to you.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">The Leagues</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        The Weekly League pays out to the highest scoring player that week. Draws result in rollovers.
                        There are 40 weeks each season.

                        1st Place - 100%

                        Joint 1st Place - 0%

                        The Monthly League runs every four weeks and pays out to the two highest scoring players for the
                        month. There are 10 months each season.

                        1st place - 70%

                        2nd Place – 30%

                        The Annual Pot pays out to the top four players for the season. A tie will result in an equal
                        split of the winnings.

                        1st Place - 40%

                        2nd Place - 30%

                        3rd Place - 20%

                        4th Place – 10%

                        The Side Leagues are alternative ways to win money during the season. There are currently 2 side
                        leagues.

                        The Quarterly Pot has been scrapped for the 2015/16 season. The monthly and annual league pots
                        have been increased.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Side Leagues</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        There is currently two side leagues in the Picks, with more may be added in future seasons.

                        Side leagues are played by all participants and essentially allow players who do not score well
                        the chance to win prizes.

                        The Leagues:

                        Joker League

                        Aggregate Goals League

                        The prize at the end of the season will work out approximately the same as a week pot.

                        In the event of a tie, the pot is split evenly between the victors.

                        Joker League
                        For every joker match where you score 2 points (E.g. correct result) you earn 0.5 point.

                        For every joker match where you score 6 points (E.g. correct score) you earn 1 point.

                        Joker points are separate from regular season points.

                        At the end of the season, the player with the most joker points wins the joker pool.

                        Aggreagate Goals League​

                        Your prediction scorelines are added up each week and scored against the actual number of goals
                        scored in the games.

                        5 points for perfect match

                        4 points for 1 goal difference

                        3 points for 2 goal difference

                        2 points for 3 goal difference

                        1 point for 4 goal difference

                        0 points for 5 or more goal difference

                        Points do not count towards overall league score

                        The aggregate goals table is a separate league to the main league
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Payments</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        £3.00 per person per week (£5 on bumper weeks).

                        £2 goes into Weekly Pot (£4 on bumper weeks).

                        60p goes into the Monthly Pot.

                        35p goes into the Annual League.

                        5p goes into the Joker League.

                        Payments need to be received by me before the start of the first game has started.

                        Any payments not received by the beginning of the first game will score 0 for that week.

                        For my bank details see How to Pay.

                        You can also make payments via PayPal, making the payment to footypicksuk@gmail.com.

                        Feel free to pay for as many weeks in advance as you wish.

                        To keep up to date with your credit go to the [Balance section](/Balances) of the website.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Winning</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        Only one person can win the picks each week.

                        If there is a draw in one week, then the pot rolls over to the following week.

                        If there is another draw after three rollovers, the pot will be split between the winners of the
                        fourth week.

                        The monthly pot is split 70/30 between 1st and 2nd. There are no rollovers for monthly pots so
                        the payouts are split in tied situations.

                        The annual pot is split 40/30/20/10 between 1st, 2nd, 3rd and 4th. Payouts are split in tied
                        situations.

                        If players are tied on points at the end of the month or year their combined winning amount will
                        be shared between them equally.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Scoring</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        A maximum of 33 points (81 for bumper weeks) can be scored each week.

                        3 points for correctly guessing the score (i.e. picking 2-1 and the result is 2-1).

                        1 point for correctly guessing the result (i.e. picking 2-1 and the result is 3-0).

                        0 points for getting the incorrect result (i.e. picking 1-1 and the result is 0-1).

                        You pick one match as your joker. This game will score double points.

                        During bumper weeks you will get to select two jokers, however you can't pick the same game
                        twice.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Other Rules</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        Cup Games, Internationals and other games that must finish in a win will be scored as at the
                        final whistle, be that 90 minutes or 120.

                        If you go on holiday for a few weeks and want to make your picks, just ask. I will sort out the
                        fixtures for you.

                        Late submissions will be accepted, however, only for games that have not yet kicked off and if
                        the £3 for that week has been paid.

                        If a game is postponed after players have started making their picks, the game will remain in
                        the picks but will score zero points. If your joker is on this game, you may change it for a
                        game that is yet to kick off, however, it is your responsibility to inform me of the change.
                        Otherwise your joker will remain on the postponed game and score 0 points.

                        100% of cash taken is paid back out to winning players. I do not take a cut from this game
                        (Unless I win of course). Even the interest generated (which is minimal) while the cash is held
                        in my bank account is included in annual payouts.

                        A small percentage of the overall pot may go towards the development of the website. No more
                        than £5 per month will be spent on the website.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Christmas Period</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        The traditional bumper week is played over Christmas and New Year. With many players booking
                        time off work I have made the picks simpler for this gameweek.

                        25 games are spread over Christmas and New Year.

                        The start of the gameweek might not fall on the usual Friday/Saturday in bumper weeks.

                        Similarly, the end date might not fall on the usual Sunday/Monday.
                    </p>
                </div>
            </div>
        </div>


    </div>
</section>

{% endblock %}  