{% extends "games/pages/base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
{% include 'games/partials/title.html' with page_title='Rules' %}

<section class="blog-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">General Rules</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        The Footy Picks is a score prediction game where players try to out-predict each other by
                        predicting correct scores in various football matches.

                        Points are provided for the accuracy of your prediction and each league has its own rules for
                        who points are available.

                        Players join leagues to compete with each other. Those leagues have games where each game
                        usually consists of a selection of fixtures for players to predict the scoreline. Think of
                        leagues like the Premier League and games as the group of weekend matches.

                        Players can join any number of leagues with different rules and games. At some point in the
                        future, players will be able to create and manage their own leagues.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">The Leagues</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        Players can join different leagues which provide different scoring systems or join a league
                        between friends. By default you will be added to the Footy Picks Official and monthly
                        leagues and at some point in the future, you will be able to create your own leagues.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Winning</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        To win, it's simple. Score the most points.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Scoring</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        The standard Footy Picks scoring system offers points for correct score and correct result
                        with double points on one joker fixture. In the future you will be able to create games with
                        your own points system. Check out the Scoring sidebar of the league to find out what points are
                        up for grabs.

                        Points can be awarded for the following:
                        <br>
                        <br><i class="fas fa-futbol fa-fw"></i>Correct Score: Correctly guess the scoreline
                        <br><i class="fas fa-futbol fa-fw"></i>Correct Result: Correctly guess the winning team/draw
                        <br><i class="fas fa-futbol fa-fw"></i>Correct Home Score: Correctly guess the home tea';s goals
                        <br><i class="fas fa-futbol fa-fw"></i>Correct Away Score: Correctly guess the away team's goals
                        <br><i class="fas fa-futbol fa-fw"></i>Joker Correct Score: Correctly guess the scoreline on
                        your Joker
                        <br><i class="fas fa-futbol fa-fw"></i>Joker Correct Result: Correctly guess the winning
                        team/draw on your Joker
                        <br><i class="fas fa-futbol fa-fw"></i>Joker Multiplier: Multiplier applied to your Joker score
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <h3 class="st-title">Other Rules</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 left-blog-pad">
                <div class="schedule-text bg-light">
                    <p class="p-2">
                        Final scorelines are the final score of the fixture at full time, be that 90 minutes, or 120.
                        Games that end in a penalty shootout or aggregate win following a draw in the match are
                        considered draw results by Footy Picks.

                        Predictions must be submitted before the match kicks off. Any late submissions will be scored
                        zero points regardless of prediction accuracy. You may alter your picks at any point up until
                        the match kicks off. After that, your prediction is locked in. If you have selected your Joker
                        game on a locked match, you will not be able to switch it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}  