{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Footy Picks">
    <meta name="keywords" content="Specer, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Footy Picks</title>{% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% block content %}{% endblock %}
    <!-- Offcanvas Menu Section Begin -->
    {% include 'top_menu.html' %}
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Hero Section Begin -->
    {% include 'hero.html' %}
    <!-- Hero Section End -->

    <!-- Trending News Section Begin -->
    {% include 'trending.html' %}
    <!-- Trending News Section End -->

    <!-- Match Section Begin -->
    {% include 'match.html' %}
    <!-- Match Section End -->

    <!-- Soccer Section Begin -->
    {% include 'soccer.html' %}
    <!-- Soccer Section End -->

    <!-- Latest Section Begin -->
    {% include 'latest.html' %}
    <!-- Latest Section End -->

    <!-- Popular News Section Begin -->
    {% include 'news.html' %}
    <!-- Popular News Section End -->

    <!-- Footer Section Begin -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="fa fa-close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>