
{% load static %}

<!-- list of leagues goes here -->
<h2>Leagues</h2>
<div class="container">
  <div class="row">
    <div class="col">
        <h3>Available Public Leagues</h3>
            {% if leagues_join_list %}
            <ul>
            {% for league in leagues_join_list %}
                <li>{{ league.name }}
                    <a href="{% url 'picks_pages:join_league' league_id=league.id %}">Join</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No leagues available.</p>
        {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
        <h3>My Leagues</h3>
        {% if leagues_owner_list %}
            <ul>
            {% for league in leagues_owner_list %}
                <li>{{ league.name }}
                    <a href="{% url 'picks_pages:league_detail' league.id %}">View</a>
                    <a href="{% url 'picks_pages:edit_league' league.id %}">Edit</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Not an owner of any leagues.</p>
        {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
        <h3>Joined Leagues</h3>
        {% if leagues_member_list %}
            <ul>
            {% for league in leagues_member_list %}
                <li>{{ league.name }}
                    <a href="{% url 'picks_pages:league_detail' league.id %}">View</a>
                    <a href="{% url 'picks_pages:leave_league' league.id %}">Leave</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Not a member of any leagues.</p>
        {% endif %}
    </div>
  </div>
</div>
<a href="{% url 'picks_pages:create_league' %}">Create League</a>
<a href="#">Join Private League</a>
