{% extends 'games/base.html' %}

{% block content %}

<h2>{{ league.name }}</h2>

<ul>
    {% if league.games.all %}
        {% for game in league.games.all %}
            <li>{{ game.name }}</li>
            {% if game.is_upcoming %}
                <a href="#">Predict</a>
            {% endif %}
            {% if game.is_finished %}
                <a href="#">Results</a>
            {% endif %}
            {% if game.is_live %}
                <a href="#">Live</a>
            {% endif %}
        {% endfor %}
    {% else %}
        No games
    {% endif %}
    {% if show_add_game %}
        <a href="#">Add Game</a>
    {% endif %}
</ul>
{% endblock %}