{% load static %}

<h2>{{ league.name }}</h2>
<ul>
    {% if not league_is_private or is_member %}
        {% if league.games.all %}
            {% for game in league.games.all %}
                <li>{{ game.name }} {{game.start_date}} {{game.end_date}} &pound;{{game.entry_fee}}</li>
                {% if game.is_upcoming %}
                    <a href="{% url 'picks_pages:game_predict' league_id=league.id game_id=game.id %}">Predict</a>
                {% endif %}
                {% if game.is_finished %}
                    <a href="{% url 'picks_pages:game_detail' league_id=league.id game_id=game.id %}">Result</a>
                {% endif %}
                {% if game.is_live %}
                    <a href="{% url 'picks_pages:game_detail' league_id=league.id game_id=game.id %}">Live</a>
                {% endif %}
            {% endfor %}
        {% else %}
            No games
        {% endif %}
        {% if show_add_game %}
            <li><a href="{% url 'picks_pages:create_game' %}">Add Game</a></li>
        {% endif %}
    {% endif %}
</ul>